# Minimal Traefik static configuration for local A.R.C. platform
entryPoints:
  web:
    address: ':80'
  websecure:
    address: ':443'

api:
  dashboard: true
  insecure: false

ping:
  entryPoint: 'web'

providers:
  docker:
    endpoint: 'unix:///var/run/docker.sock'
    exposedByDefault: false
